# Auto detect text files and perform LF normalization
* text=auto

# Unreal / binary assets 
# Content/**
# *.uasset
# *.umap

# Raw content types 
# *.fbx
# *.3ds
# *.psd
# *.png
# *.mp3
# *.wav
# *.xcf
# *.jpg